<html>
  <head>
    <title>Turbulence</title>

    <link href="{{ cssPath "bootstrap.min.css" }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cssPath "font-awesome.min.css" }}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cssPath "base.css" }}" media="all" rel="stylesheet" type="text/css" />
  </head>

  <body>
  	<header>
  	  <div class="container">
  	    <h2><a href="/">Turbulence</a></h2>
  	  	<!-- <ul class="menu"><li><a href="/incidents">Incidents</a></li></ul> -->
  	  </div>
  	</header>

  	{{ yield }}
  </body>
</html>
