<main>
  <div class="container page-sep">
    <div class="row">
      <div class="col-md-12">
        {{ template "scheduled_incidents/_list" . }}
        {{ template "incidents/_list" . }}
      </div>
    </div>
  </div>
</main>
